<%- include('partials/header') %>

<h2>Productos en Stock</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.brand %></td>
      <td><%= product.stock %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer') %>
